

.logic {


}
table {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 26px;
    table-layout: fixed;
}
td {

    background-color: white;
    cursor: pointer;
    padding: 30px;

    border: 1px solid #aeacab;
}

.operator {
    background-color: #e8e8e8;
    border: 1px solid #aeacab;
    padding: 30px;

}

.calculate {


    background-color: #f57a4a;


}




